<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<a href="">PROJECT</a>
<a href="">TEAM</a>
<a href="">TASKS</a>
<a href="">NOTES</a>
<a href="">FILES</a>
<a href="">YOUR PROFILE</a>
<a href="">LOG OUT</a>

  {{{body}}}

</body>
</html>