<h2>User Settings</h2>

{{!-- {{> flashMessages}} --}}

<form method="POST" action="/process-settings">
  <label>
     First Name:
      <input type="text" name="firstName" value="{{blahUser.firstName}}"  />
  </label>
  <br />

  <label>
     Last Name:
      <input type="text" name="lastName" value="{{blahUser.lastName}}"  />
  </label>
  <br />

  <h3>Change Your Password</h3>
  <label>
      Old passsword:
      <input type="password" name="oldPassword" placeholder="*****" />
  </label>
  <br />

  <label>
      New Password:
      <input type="password" name="newPassword" placeholder="*****" />
  </label>
  <br />

<button>Save Settings</button>
</form>