<h2>Log In</h2>


{{!-- {{> flashMessages}} --}}

<form method="POST" action="/process-login">
   <label>
       Email:
       <input type="text" name="email" placeholder="email@example.com"/>
   </label>
   <br />

   <label>
       Password:
       <input type="password" name="loginPassword" placeholder="your password" />
   </label>
   <br />


 <button>Log In</button>
</form>
