<h2>Sign Up</h2>


{{!-- {{> flashMessages}} --}}

<form method="POST" action="/process-signup">
            <label>
            First name: 
                <input type="text" name="firstName"  />
            </label>

<br />

<label>
            Last name: 
                <input type="text" name="lastName"  />
            </label>

<br />

<label>
            Occupation: 
                <input type="text" name="job"  />
            </label>

<br />

            <label>
            Email: 
            <input type="email" name="email"  />
            </label>

<br />

            <label>
            Password:
            <input type="password" name="originalPassword"  />
            </label>
            
<br/>

<button>Sign Up</button>

</form>